<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Development Application</title>
<style>
    .wrapped-text {
    white-space: pre-wrap;
}
</style>
</head>
<body>
    <div style="text-align: center;">
        <h1>Development Application</h1>
        <h2>Testing remote file read</h2>
        <h3>Author: Ralph</h3>
        <h4>Current Directory: {{cwd}}</h4>
        <h4>Files:</h4>
        {% for file in files %}
        <p>{{file}}</p> 
        {% endfor %}
        <p>Enter file to read</p>
        <form action="/" method="post">
            <label for="filename">File name:</label>
            <input type="text" name="filename">
            <input type="submit" value="Read">
        </form>
        <div style="text-align: center; padding-left:25%; padding-right:25%; max-width:50%;">
            <p class="wrapped-text" style="outline: 5px solid rgb(0,0,0); text-align: left; min-height: 30%" >{{data}}</p>
        </div>
    </div>
    
</body>
</html>
